@import "../../../styles/styles";

.Button {
  @include card(medium);
  @include flex(row, flex-start, center, $spacing-3);

  .Rating {
    flex: 0 0 auto;
    width: 100%;
    max-width: 54px;
    height: 54px;
    position: relative;

    .Icon {
      opacity: 0.5;
    }
    .Score {
      position: absolute;
      top: 0;
      left: 0;
      color: $color-blue;
      font-size: $font-size-h3;
      font-weight: 600;
      height: 54px;
      line-height: 54px;
      width: 54px;
      @include flex(row, center, baseline);
      > sub {
        font-size: 50%;
        vertical-align: baseline;
      }
    }
  }

  .Name {
    @include h3;
    margin-bottom: $spacing-1;
  }

  .Code {
    @include inline-code;
    padding-left: $spacing-1;
    padding-right: $spacing-1;
    font-size: $font-size-tiny;
  }
}
