$color-orange: #bc5d2e;
$color-orange-light: #d5c0b8;

$color-red: #f34213;
$color-red-light: #dfbfb9;

$color-green: #bbb8b2;
$color-green-light: #e2e2e1;

$color-blue: #2e2e3a;
$color-blue-light: #a9a8b0;

$color-yellow: #de9151;
$color-yellow-light: #e0d1c8;

$color-white: #ffffff;
