$font-family-display: "Alice", serif;
$font-family-body: "Alice", serif;
$font-family-code: -source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$font-weight-h1: 400;
$font-weight-h2: 400;
$font-weight-h3: 400;
$font-weight-h4: 400;
$font-weight-h5: 400;
$font-weight-h6: 400;

$line-height-h1: 1.2;
$line-height-h2: 1.2;
$line-height-h3: 1.5;
$line-height-h4: 1.5;
$line-height-h5: 1.5;
$line-height-h6: 1.5;

$font-size-body: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;

$font-weight-body: 400;
$font-weight-small: 400;
$font-weight-tiny: 400;

$line-height-body: 1.5;
$line-height-small: 1.3333;
$line-height-tiny: 1.3333;
