@import "../../../styles/styles";

.Button {
  @include card(medium);
  @include flex(row, flex-start, center, $spacing-3);

  .Icon {
    flex: 0 0 auto;
    width: 100%;
    max-width: 54px;
    height: 54px;
    padding: $spacing-2;
    transform: rotate(180deg);
  }

  .Dialog {
    @include h4;
  }

  .Author {
    @include body-small;
  }

  .Title {
    overflow: hidden;
    @include flex(column, flex-start, flex-start, 0);
  }

  .Code {
    @include inline-code;
    padding-left: $spacing-1;
    padding-right: $spacing-1;
    font-size: $font-size-tiny !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
