@import "../../../styles/styles";

.Container {
  width: 264px;
  background-color: lighten($color-yellow-light, 10%);
  @include flex(column, flex-start, stretch, 0);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.025)
    );
  }

  @include mobile {
    width: 100%;
    height: max-content;
    @include flex(row, space-between, stretch, 0);

    &:after {
      background: none;
    }
  }
}
